{% extends "layout.html" %}

{% block title %}
    About Us
{% endblock %}
{% block main %}
<section class="indexbackground">
    <div class="container">
      <img src="static/Images/CSCluboutlined.png" width="150" height="150">
    </div>
</section>
<section class="indexbackground">
  <h1 class="header">
    Welcome to Project Takeoff!
    <p class="paragraph">
      The world of computer science is a beautiful one, and we started this<br>
      project to prove it. This web application was created completely by <br>
      students at TCC in the TCC NE Computer Science Club. As this community<br>
      continues to grow, we encourage everyone from all corners of study to<br>
      learn to code, it's the next big thing! <br>
    </p>

  </h1>
</section>
{% endblock %}
