{% extends "layout.html" %}

{% block title %}
    About Us
{% endblock %}
{% block main %}
<section class="greyback">
  <h1 class="header">
    About Us
  </h1>
</section>
<section class="greyback">
  <div style="text-align: center">
    <pre class="premodded" style="display: inline-block; text-align: left;" >
      Hello! Nice to meet you, wherever you may be on your CS journey.
      
      Please understand that this club is meant for absolutely anyone
      who is enthusiastic and/or interested in Computer Science.
    </pre>
  </div>
</section>
<section class="greyback">
  <img src="/static/Images/quote.png" class="centered">
</section>
<section class="greyback">
  <div style="text-align: center">
    <pre class="premodded" style="display: inline-block; text-align: left;">
      
      CS can be challenging, that is a no-brainer, along with the
      frustration that can come along with it.
      
      Although that this isn't a place to share answers or assignments,
      it is a place where a community of like-minded individuals can
      learn and relate to all things CS-related.
    </pre>
  </div>
</section>
{% endblock %}
