{% extends "slayout.html" %}

{% block title %}
    Users
{% endblock %}
{% block main %}
<section class="astronautback">
    <section class="smallcontainer">
        Hello World!
    </section>
</section>
<section class = "greyback" style="height: 40vw;">
    {% for user in users %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ user.image_file }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" style="color: red" href="{{ url_for('posts.user_posts', username=user.username) }}">{{ user.username }}</a>
            </div>
            <h2><a class="article-title" href="{{ url_for('posts.user_posts', username=user.username) }}">User</a></h2>
          </div>
        </article>
    {% endfor %}
</section>
{% endblock %}
