{% extends "layout.html" %}

{% block title %}
    Welcome!
{% endblock %}
{% block main %}
<section class="indexbackground">
  <div class="icon-bar">
    <a href="https://www.facebook.com/groups/319578505974453/" class="facebook"><i class="fa fa-facebook"></i></a>
    <a href="https://www.instagram.com/cs_club_tcc/?hl=en" class="instagram"><i class="fa fa-instagram"></i></a>
    <a href="https://www.youtube.com/channel/UCoAOKzm7omuf5CKKHhhprqQ?view_as=subscriber" class="youtube"><i class="fa fa-youtube"></i></a>
  </div>
    <div class="container">
      <img src="static/Images/CSCluboutlined.png" width="150" height="150">
    </div>
</section>
<section class = "greyback">
  <h1 class="header">
    Welcome to Project Takeoff!
  </h1>
  <pre class= "premodded" style= "height: auto vw; ">
    The world of computer science is a beautiful one, and we started this
    project to prove it. This web application was created completely by 
    students at TCC in the TCC NE Computer Science Club.
  </pre>
  <pre class= "premodded">
    As this community continues to grow, we encourage everyone from all
    corners of study to learn to code, it's the next big thing!
  </pre>
</section>
{% endblock %}
