{% extends "layout.html" %}

{% block title %}
    About Us
{% endblock %}
{% block main %}
<section class="greyback">
  <h1 class="header">
    Looking to join?
  </h1>
</section>
<section class="greyback">
  <div style="text-align: center">
    <pre class="premodded" style="display: inline-block; text-align: left;" >
      Join us every Wednesday at 6pm for our weekly meetings on Discord!
    </pre>
  </div>
  <div style="text-align: center">
    <a href="https://discord.gg/suNYm4d" class="btn btn-primary btn-lg btn-dark active" role="button" aria-pressed="true">Discord Invitation</a>
  </div>
</section>
<section class="greyback">
  <div style="text-align: center">
    <pre class="premodded" style="display: inline-block; text-align: left;">
        
        Follow us on Instagram, Youtube, and Facebook for more info.
    </pre>
  </div>
  <div style="text-align: center; padding-bottom: 25vw;">
    <a href="https://www.facebook.com/groups/319578505974453/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Facebook</a>
    <a href="https://www.instagram.com/cs_club_tcc/?hl=en" class="btn btn-primary btn-lg btn-warning active" role="button" aria-pressed="true">Instagram</a>
    <a href="https://www.youtube.com/channel/UCoAOKzm7omuf5CKKHhhprqQ" class="btn btn-primary btn-danger btn-lg active" role="button" aria-pressed="true">YouTube</a>
  </div>
</section>
{% endblock %}
