{% extends "slayout.html" %}

{% block title %}
    Welcome!
{% endblock %}
{% block main %}
<section class="stationbackground">
      <div class="container">
        <img src="static/Images/CSCluboutlined.png" width="150" height="150">
      </div>
  </section>
  <section class = "greyback">
    <h1 class="header">
      Welcome to The Scorpio Space Station
    </h1>
    <pre class= "premodded" style= "height: auto vw; ">
      Looks like you found the station! Here you can send asteroids into
      orbit. A few astronauts may see your message and might even write
      something on it before it explodes (all the asteroids explode).
    </pre>
    <pre class= "premodded">
      Have a look and check some of the messages other CS students (or
      just other people) have left before they are gone!
    </pre>
  </section>
{% endblock %}
