{% extends "slayout.html" %}

{% block title %}
    Welcome!
{% endblock %}
{% block main %}
<section class="stationbackground">
      <div class="landingpage">
        <img src="static/Images/CSCluboutlined.png" width="150" height="150">
      </div>
  </section>
  <section class = "greyback">
    <h1 class="header" style= "color: green; font-family: 'Rajdhani', sans-serif;">
      ACCESS GRANTED TO THE SCORPIO SPACE STATION.
    </h1>
    <pre class= "premodded" style= "height: auto vw; font-family: 'Rajdhani', sans-serif;">
      You are now in the members-only section of the web application. Please, feel free to post a message!
      Perhaps introduce yourself, or leave a note for the future members of the CS Club.
    </pre>
    <pre class= "premodded" style= "font-family: 'Rajdhani', sans-serif;">
      Have a look and check out some of the messages other CS students (or just other people) are
  posting in the "posts" section.
    </pre>
  </section>
{% endblock %}
