{% extends "layout.html" %}

{% block title %}
    Videos
{% endblock %}
{% block main %}
<section class="greyback" style="height: 80vw;">
    <h1 class="pt-5" style="text-align: center;">
        "How to convert a Word document into a PDF! (a classic)"
    </h1>
    <div class="centered mt-5">
        <iframe src="https://www.youtube.com/embed/watch?v=3AT2STg_dXc&list=PL27hYT8yNyQsTNmmNAlmbNj9G3CibOkDf&index=2" width="930" height="486" frameborder="0" allowfullscreen></iframe>
    </div>
    <h1 class="pt-5" style="text-align: center;">
        "How to Google things like a Pro!"
    </h1>
    <div class="centered mt-5">
        <iframe width="930" height="486" src="https://www.youtube.com/embed/3AT2STg_dXc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</section>
{% endblock %}
